body {
    background-color: rgb(231, 193, 174);
    background-size: cover;
    background-origin: padding-box;
    width: 509px;
    height: 765px;
    top: 310px;
    bottom: 440px;
    margin-left: 410px;
    width: 400px;
    border: solid rgb(238, 111, 7);
    padding: 10px;
    // margin-top: 900px;
}
.visually{
    color:red;
    padding-left: 8px;

}